# Python
__pycache__/
*.pyc
.env
.venv/
venv/

# Database
*.db
*.sqlite3

# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db